/* Loosely based on the Midnight Textmate theme */

.cm-s-default { background: #1E2325; color: #babdb6; }
.cm-s-default span.CodeMirror-selected {
    background: #391f21 !important;
    color: #959793 !important  }
.cm-s-default .CodeMirror-gutter { background: #0a001f; border-right: 1px solid #aaa; }
.cm-s-default .CodeMirror-gutter-text { color: #f8f8f8; }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid white !important; }
.cm-s-default span.cm-undefined { color: #DDD }

.cm-s-default span.cm-comment { color: #656763 }
.cm-s-default span.cm-atom { color: #eeeeec; }
.cm-s-default span.cm-number {  color: #729fcf  }
.cm-s-default span.cm-attribute { color: #ffd500; }
.cm-s-default span.cm-keyword { color: #fcaf3e; }
.cm-s-default span.cm-string { color: #8ae234; }
.cm-s-default span.cm-meta { color: #888a85; }
.cm-s-default span.cm-tag { color: #99b2ff; }
.cm-s-default span.cm-def { color: #fcaf3e; }
.cm-s-default span.cm-error { color: #9d1e15; }
.cm-s-default span.cm-builtin { color: #ff9e59; }
