/* Loosely based on the Midnight Textmate theme */
.cm-s-midnight {
  background: #1E2325;
  color: #babdb6; }

div.CodeMirror-selected {
  background: #791D22 !important; }

.cm-s-midnight .CodeMirror-gutter {
  background: #0a001f;
  border-right: 1px solid #aaa; }

.cm-s-midnight .CodeMirror-gutter-text {
  color: #f8f8f8; }

.cm-s-midnight .CodeMirror-cursor {
  border-left: 1px solid white !important; }

.cm-s-midnight span.cm-undefined {
  color: #DDD; }

.cm-s-midnight span.cm-comment {
  color: #656763; }

.cm-s-midnight span.cm-atom {
  color: #eeeeec; }

.cm-s-midnight span.cm-number {
  color: #729fcf; }

.cm-s-midnight span.cm-attribute {
  color: #ffd500; }

.cm-s-midnight span.cm-keyword {
  color: #fcaf3e; }

.cm-s-midnight span.cm-operator {
  color: #fcaf3e; }

.cm-s-midnight span.cm-string {
  color: #8ae234; }

.cm-s-midnight span.cm-string-2 {
  color: #9d1e15; }

.cm-s-midnight span.cm-meta {
  color: #8CA48A; }

.cm-s-midnight span.cm-tag {
  color: #99b2ff; }

.cm-s-midnight span.cm-def {
  color: #fcaf3e; }

.cm-s-midnight span.cm-error {
  color: #9d1e15; }

.cm-s-midnight span.cm-builtin {
  color: #ff9e59; }

.cm-s-midnight span.cm-variable-2 {
  color: #ffd500; }

/* scroll space around the document */
.CodeMirror-lines {
  border-top: 300px solid #181b1c;
  border-bottom: 300px solid #181b1c; }

body, textarea {
  padding: 0px;
  margin: 0px;
  line-height: 1em;
  font-family: monospace;
  font-weight: bold;
  overflow: hidden;
  background: white; }
  body ::-webkit-scrollbar, textarea ::-webkit-scrollbar {
    background: transparent;
    border: 1px solid lighen(#1e2224, 10%);
    height: 4px;
    width: 4px; }
  body ::-webkit-scrollbar-thumb, textarea ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #3e4240;
    border: 2px solid rgba(0, 0, 0, 0); }
  body ::-webkit-scrollbar-corner, textarea ::-webkit-scrollbar-corner {
    background: transparent; }

.searched {
  background: yellow; }

.local {
  color: #8EBECA; }

.highlight {
  color: #fcaf3e; }

input {
  background: #2a2f32;
  border: none;
  color: #babdb6;
  line-height: 14px;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  margin: 0px; }

.popup {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #AAA;
  background: #070808;
  z-index: 10;
  border-top: solid 2px #E39F3B; }

#open-box input {
  width: 300px; }
#open-box div {
  margin: 2px; }

#search-box input {
  width: 200px; }

#command-box input {
  width: 350px; }

.hint, .error {
  position: absolute;
  height: 1em;
  border-top: solid 2px #881A12; }
  .hint:hover .msg, .error:hover .msg {
    background: #881A12;
    padding: 2px;
    color: white;
    display: block;
    width: 100%;
    min-width: 300px; }
  .hint .msg, .error .msg {
    display: none; }

.terminal {
  position: absolute;
  background: #311;
  width: 100px;
  height: 100px;
  overflow: scroll; }

.cmdline {
  width: 100%; }

.in {
  font-family: monospace;
  color: #babdb6;
  background-color: #1e2224; }

.out {
  font-family: monospace;
  color: #babdb6; }

.error-code {
  color: red; }
